.timer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.timer-box-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.timer-box-wrapper h2 {
    position: absolute;
    left: 5rem;
    font-size: medium;
}

.timer-box-wrapper:nth-child(1) {
    color: red;
}
.timer-box-wrapper:nth-child(2) {
    color: yellow;
}
.timer-box-wrapper:nth-child(3) {
    color: green;
}
.timer-box-wrapper:nth-child(4) {
    color: blue;
}

.timer-box {
    height: 30px;
    width: 30px;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.timer-box-wrapper:hover .sticker {
    visibility: visible;
}

.sticker {
    visibility: hidden;
    position: absolute;
    width: 200%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 30%;
    z-index: -1;
  
  }

.audio-wrap {
    display: flex;
    align-items: center;
    gap: 2rem;  
}